@import 'abstracts/variables';

@import 'base/base';
@import 'base/utilities';

body{
    background-color: #f0f0f0;
}

.header{
    background-color: white;
    position: sticky;
    display: flex;
    flex-wrap: nowrap;
    min-height: auto;
    text-decoration: none;
}

.logo{
    height: 60px;
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logotext{
    position: relative;
    align-self: center;
    left:20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.header-right{
    margin-left: auto;
    align-self: center;
    margin-right: 10px;
    display: flexbox;
}

.slack{
        align-self: center;
        min-width: 120px;
        height: 40px;
        background-color: #0ab50a;
        border-radius: 10px;
        border: 0;
        font-size: small;
        color: white;
        font-family: 'Rubik', sans-serif;
    }

.textlink{
        font-size: large;
        color: black;
        margin: 20px;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;

    }